storage/integrated_test/batch_config/*
storage/integrated_test/component_config/*
storage/integrated_test/file_config/*
storage/integrated_test/global_config/*
storage/integrated_test/view_config/*

__pycache__
.venv/
dist/
*.egg-info/
